*,
*::before,
*::after,
button {
  box-sizing: border-box;
  border: 0;
}

body {
  font-family: "Lexend Deca", sans-serif;
  padding: 1rem;
  line-height: 1.6;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsla(0, 0%, 100%, 0.75);
}

h2 {
  color: hsl(0, 0%, 95%);
  font-size: 2rem;
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
}
.container {
  display: flex;
  max-width: min(90%, 900px);
  border-radius: 5px;
}

article {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  flex: 0 0 300px;
}

article > p {
  max-width: 90%;
  color: hsla(0, 0%, 100%, 0.75);
}

button {
  padding: 1rem 1.8rem;
  border-radius: 2rem;
  width: fit-content;
  margin: 5rem auto 2rem 0;
  background-color: hsl(0, 0%, 95%);
  font-family: "Lexend Deca", sans-serif;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
}

footer {
  color: rgb(99, 96, 96);
  margin-top: 3rem;
  width: max-content;
  text-align: center;
}

.one > button:hover,
.two > button:hover,
.three > button:hover {
  color: hsl(0, 0%, 95%);
  outline: 2px solid hsl(0, 0%, 95%);
}
.one,
.one > button:hover {
  background-color: hsl(31, 77%, 52%);
}
.one > button {
  color: hsl(31, 77%, 52%);
}

.two,
.two > button:hover {
  background-color: hsl(184, 100%, 22%);
}
.two > button {
  color: hsl(184, 100%, 22%);
}

.three,
.three > button:hover {
  background-color: hsl(179, 100%, 13%);
}

.three > button {
  color: hsl(179, 100%, 13%);
}

@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
    align-self: center;
    max-width: 375px;
  }
}
